// ru.cfg v1.0
// GPO SpeedPump (GPOSP)
// created: 25 Mar 2026
// updated: 25 Mar 2026

// THIS FILE:
//   GPL-3.0 by LisiasT and zer0Kerbal
//   code localized by [zer0Kerbal](https://github.com/zer0Kerbal)
//   translation courtesy of: [BezKartuza]

Localization
{
	ru
	{

	// ********** Global strings
		#GPOSP-DisplayName = Насос GPO
		#GPOSP-DisplayNameV = Насос GPO v

	// ********** Type: KSP Actions
		#GPOSP-BalanceOff = Откл. балансировку
		#GPOSP-BalanceOn = Вкл. балансировку
		#GPOSP-BalanceToggle = Переключить балансировку
		#GPOSP-PumpLevelDec = Уменьшить уровень насоса
		#GPOSP-PumpLevelInc = Увеличить уровень насоса
		#GPOSP-PumpOff = Откл. насос
		#GPOSP-PumpOn = Вкл. насос
		#GPOSP-PumpToggle = Переключить насос

	// ********** Type: KSP Events
		#GPOSP-ConfigurePump = Настройка насоса

	// ********** Type: KSP Fields
		#GPOSP-autoBalance = Балансировка
		#GPOSP-autoPump = Насос:
		#GPOSP-pumpLevel = Уровень насоса

	// ********** Type: GUI
		#GPOSP-pump = Насос: <<1>>
		#GPOSP-balance = Баланс: <<1>>
	}
}